<table>
  <thead>
  <tr>
      
    <th>Username</th>
    <th>Email</th>
    <th>Subject</th>
    <th>Message</th>
    <th>Update</th>
    <th>Delete</th>

  </tr>
  </thead>
  <tbody>
    <input type="text" [(ngModel)]="searchText" placeholder="search">
    <tr *ngFor='let user of allUsers  | filter:searchText ' >
      
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.subject}}</td>
      <td>{{user.message}}</td>
      <button mat-raised-button (click)="openDialog(user.id)">dialog</button>
      <td><button type="button"  (click)=" callAPI(user.id);updateData(user.id)">Update</button></td>
      <!-- <td><button type="button" (click)='deleteData(user.id)'>Delete</button></td> -->

   
 
  </tbody>   
</table>  

 

<div class="hid">


<form class="example-form" (ngSubmit)="updateDem  && onSubmit(data)" name="form" #f="ngForm" class="text-center">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Your Name" name="name" [(ngModel)]="data.name" #name="ngModel" matInput type="text" required>
</mat-form-field>
<br>
<mat-form-field class="example-full-width">
    <input matInput placeholder="Your Email" name="email" [(ngModel)]="data.email" #location="ngModel" matInput type="text" required>
    </mat-form-field>
 <br>

<mat-form-field class="example-full-width">
<input matInput placeholder="Subject" name="subject" [(ngModel)]="data.subject" #subject="ngModel" matInput type="text" required>
</mat-form-field>
<br>
<mat-form-field class="example-full-width">
<input matInput placeholder="Message to Dennis" name="message" [(ngModel)]="data.message" #message="ngModel" matInput type="text" required>
</mat-form-field>

<br>
<button mat-stroked-button color="accent" class="btn-block" matInput type="submit">Send Message</button>


</form>
</div>

<ng-template #callAPIDialog>
  
  <form class="example-form" (ngSubmit)="updateDem  && onSubmit(data)" name="form" #f="ngForm" class="text-center">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Your Name" name="name" [(ngModel)]="data.name" #name="ngModel" matInput type="text" required>
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width">
      <input matInput placeholder="Your Email" name="email" [(ngModel)]="data.email" #location="ngModel" matInput type="text" required>
      </mat-form-field>
   <br>
  
  <mat-form-field class="example-full-width">
  <input matInput placeholder="Subject" name="subject" [(ngModel)]="data.subject" #subject="ngModel" matInput type="text" required>
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width">
  <input matInput placeholder="Message to Dennis" name="message" [(ngModel)]="data.message" #message="ngModel" matInput type="text" required>
  </mat-form-field>
  
  <br>
  <button mat-stroked-button color="accent" class="btn-block" matInput type="submit">Send Message</button>
  
  
  </form>
</ng-template> 