<form class="example-form" (ngSubmit)="updateDem  && onSubmit(data)" name="form" #f="ngForm" class="text-center">
  
 

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Your Name" name="name" [(ngModel)]="data.name" #name="ngModel" matInput type="text" required>
</mat-form-field>
<br>
<mat-form-field class="example-full-width">
    <input matInput placeholder="Your Email" name="email" [(ngModel)]="data.email" #location="ngModel" matInput type="text" required>
    </mat-form-field>
 <br>

<mat-form-field class="example-full-width">
<input matInput placeholder="Subject" name="subject" [(ngModel)]="data.subject" #subject="ngModel" matInput type="text" required>
</mat-form-field>
<br>
<mat-form-field class="example-full-width">
<input matInput placeholder="Message to Dennis" name="message" [(ngModel)]="data.message" #message="ngModel" matInput type="text" required>
</mat-form-field>

<br>
<button mat-stroked-button color="accent" class="btn-block" matInput type="submit">Send Message</button>


</form>


