<table>
    <thead>
    <tr>
        
      <th>Username</th>
      <th>Email</th>
      <th>Subject</th>
      <th>Message</th>
 
      <th>Delete</th>

    </tr>
    </thead>
    <tbody>
      <tr *ngFor='let user of allUsers' >
        
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.subject}}</td>
        <td>{{user.message}}</td>
        <td><button type="button" (click)='deleteData(user.id)'>Delete</button></td>

     
   
    </tbody>   
  </table>  
  
  
  